h3 {
  margin-bottom: 10px;
}

.button-liberar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 36px;
  font-size: small;
  background-color: var(--color-background-danger);
  color: var(--color-text-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
