header {
  display: flex;
  padding: 5px 2%;
  position: fixed;
  top: 0;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color:var(--color-accent);
  

  a{
    outline: none;
    color: var(--color-text-highlight);
    appearance: none;
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    font-family: 'inter', Arial, sans-serif;
  }
  a:hover{
    opacity: 0.8;
  }
  

}

nav{
  display: flex;
    flex-direction: row;
    gap: 10px;
}